h1{background-color: violet;
    color: aliceblue;}
.hover:hover{background-color: black;
    color: rgb(241, 181, 226);}
.first p:first-child{background-color: aqua ;
    color: black;} 
.last span:last-child{background-color:rgb(250, 147, 231);color: black;}
.nth .lista :nth-child(even)
{background-color: blueviolet;color: black;
}
.contenedor{
    background-color: aquamarine;color: black;
    width: 800px;
    height: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.contenedor::after{ 
    content: "<";
}
.contenedor::before{
    content: ">";
}
body{background-color: bisque;color: brown;}

